<style>
    .wk_info_text > b {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .wk_info_text {
        font-size: 14px;
    } 
    .wk_doc_tab ol li {
        padding-bottom: 10px;
    }
    .wk_highlight {
        font-style: italic;
    }
    .wk_info_text:not(:last-child) {
        border-bottom: 1px solid #ccd1d8;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .wk_toggler .icon {
        background: url("../bundles/pimui/images/jstree/icon-right.svg") 50% 50% no-repeat;
        height: 12px;
        width: 22px;
        margin: 0 5px 0 0;
        background-size: 20px;   
        display: inline-block;
        cursor: pointer;
    }
    .wk_toggler.active .icon {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);        
    }    
    .wk_toggle {
        margin-left: 50px;
    }
    .wk_toggler ~ .wk_toggle {
        display: none;
    }
    .wk_toggler.active ~ .wk_toggle {
        display: block;
    }    
</style>
<div class="AknFormContainer--withPadding wk_doc_tab">
    <div class="wk_info_text">
        <b><%= _.__('How to Setup:') %></b>
        <ol class="wk_steps">
            <li style="cursor: pointer;">
                <span class="wk_toggler">
                    <%= _.__('Generate Api credentials from your Magento Store.') %>
                    <span class="icon"></span>
                </span>
                <a href="http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-token.html#integration-tokens" target="_blank">
                    <i class="AknIconButton icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title=""></i>
                </a>
                <div class="wk_toggle">
                    <ol class="wk_info">
                        <li>
                            <%= _.__('Log in to Admin and click <strong>System &gt; Integrations</strong> to display the Integrations page.') %>
                        </li>
                        <li>
                            <%= _.__('Click <strong>Add New Integration</strong> to display the New Integration page.') %>
                        </li>
                        <li>
                            <%= _.__('Enter a unique name for the integration in the <strong>Name</strong> field. Then enter your admin password in the <strong>Your Password</strong> field. Leave all other fields blank.') %>
                        </li>
                        <li>
                            <%- _.__('Click the API tab. Select the Magento resources the integration can access. You can select all resources, or select a custom list.' ) %>
                        </li>
                        <li>
                        <%= _.__('Click <strong>Save</strong> to save your changes and return to the Integrations page.') %>
                        </li>
                        <li>
                        <%= _.__('Click the <strong>Activate</strong> link in the grid that corresponds to the newly-created integration.' ) %>
                        </li>
                        <li>
                            <%= _.__('Click <strong>Allow</strong>.') %>
                            <%- _.__('A dialog similar to the following displays:') %>
                            <img src="http://devdocs.magento.com/guides/v2.0/get-started/authentication/images/integration-tokens.png" alt="<%- _.__('REST client') %>'" width="100%">
                        </li>
                        <li>
                            <%= _.__('Copy Credentials and Paste in Setup credentials tab.') %>
                        </li>        
                    </ol>
                </div>                
            </li>            
            <li>
                <%= _.__('Goto <span class="wk_highlight">Setup Credentials</span> tab and enter your store credentials and Save credentials.') %>
            </li>
            <li>
                <%= _.__('After saving Credentials goto <span class="wk_highlight">Store view mapping</span> tab and Save mapping.') %>
            </li>
            <li>
                <%= _.__('Then, goto <span class="wk_highlight">Setup Attribute Mapping</span> tab and Save attribute mapping.') %>
            </li>
        </ol>                        
    </div>
    <div class="wk_info_text">
        <b><%= _.__('How to Export Data to Magento Store:') %></b>
        <ol class="wk_steps">
            <li>
                <%= _.__('Goto <span class="wk_highlight">Export jobs</span> and Create a job with by entering <i>code</i>, <i>label</i> and Selecting <i>Magento 2 Export Job.</i>') %>
            </li>
            <li>
                <%= _.__('After creating job Goto <span class="wk_highlight">Content tab</span> Add neccessary Filters in <i>FILTER THE DATA</i> and <i>FILTER THE PRODUCTS</i>. After that Save job.') %>
            </li>
            <li>
                <%= _.__('Run job whenever you want to Export Product by navigating to Export profiles >> Magento Job and Clicking on Export now') %>
            </li>
        </ol>                        
    </div>
</div>