<!-- Styles for grid view -->
<style>
    .AknFormContainer-Mappings .field-input,.AknFormContainer-Mappings .field-header,.AknFormContainer-Mappings .header-col {
        display: inline-block;
        width: calc(50% - 2px);
        border: none;
    }
    .AknFormContainer-Mappings .AknForm-header.widget-header {
        border-bottom: 2px solid #67768A;
        margin-bottom: 10px;
    }
    .AknFormContainer-Mappings .AknSettingField {
        width: 80%;
    }
</style>

<!-- //HTML for form grid view -->
<div class="AknFormContainer AknFormContainer--withPadding  AknFormContainer-Mappings" style="width: 100%">
    <div class="AknForm-header widget-header">
        <div class="header-col AknSubsection-title">
            <%- _.__('myintegrations_connector.magento.field.group') %>
        </div>
        <div class="header-col AknSubsection-title">
            <%- _.__('myintegrations_connector.akeneo.field.group') %>
        </div>
    </div>
    <!-- Input Field -->
    <% _.each(fields, function (field) { %>
        <div class="AknFieldContainer">
            <div class="field-header">
                <label class="AknFieldContainer-label">
                    <%- _.__(field.label) %> <em>[<%- field.name %>]</em>
                </label>
            </div>
            <div class="field-input">
                    <select name="<%- field.name %>" id="pim_enrich_entity_form_<%- field.name %>" class="select2 label-field AknSettingField attributeValue">
                        <option>Select Attribute</option>
                        <% selectVal = mapping && typeof(mapping) !== 'undefined' && typeof(mapping[field.name]) !== 'undefined' ?  mapping[field.name] : '' %>
                        <% _.each(attributes, function(attribute) { %>
                            <% if(Object.keys(attribute.labels).length && field.types.indexOf(attribute.type) !== -1 ) { %>
                                <option value="<%- attribute.code %>" <% if(attribute.code === selectVal) { %>selected="selected"<% } %> >
                                    <%- 'undefined' !== typeof(attribute.labels[currentLocale]) ? attribute.labels[currentLocale] : attribute.labels[Object.keys(attribute.labels).length]  %>
                                </option>
                            <% } %>
                        <% }); %>
                    </select>
                    <% if('undefined' !== typeof(field.tooltip) ) { %>
                        <i class="AknIconButton icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="<%- _.__(field.tooltip) %>."></i>
                    <% } %>                    
            </div>
        </div>
    <% }); %>
</div>