<style>
        .wk_text_center {
            text-align: center;
        }
        .wk_text_center img {
            margin: 10px 0;
        }
        .AknFormContainer-overview p{
            font-size: 14px;
        }
</style>
<div class="AknFormContainer--withPadding AknFormContainer-overview">
    <div class="wk_text_center">
        <p>
            <%- _.__('With the help of this Connector, you can connect your Magento store with the Akeneo PIM software and manage thousands of products easily. You can push data from Akeneo into the Magento 2 store. It works with simple, configurable, and virtual types of products. Connector also exports the categories, attributes, configurable variations, attribute set/families, and much more.') %>
        </p>
    </div>
</div>