<style>
    .wk_margin_top_10 {
        margin-top: 10px;
    }
    .wk_store_mapping td{
        width: 50%;
    }
    .wk_store_mapping .wk_header_cell {
        border: none
        display: table-cell;
        color: #67768A;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 0px;        
    }
    .wk_store_mapping table {
        table-layout: fixed;
        text-align: left;
    }    
    .wk_store_mapping table thead {
        border-bottom: 2px solid #67768A;        
    }
</style>

<div class="wk_margin_top_10 wk_store_mapping">
    <% if(storeViews) { %>
        <table class="AknGrid AknGrid--unclickable">
            <thead>
                <tr>
                    <th class="wk_header_cell">
                        <%- _.__('myintegrations_connector.locale') %>
                    </th>
                    <th class="wk_header_cell">
                        <%- _.__('myintegrations_connector.select.store_view') %>
                    </th>
                </tr>
            </thead>

            <tbody>
                <% _.each(locales, function(locale, key) { %>
                    <tr class="AknGrid-bodyRow">
                        <td class="AknGrid-bodyCell">
                            <%- locale.code %>
                        </td>
                        <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
                            <select name="<%- locale.code %>">
                                <option value=""><%- _.__('Select store view') %></option>                            
                                <% _.each(storeViews, function(mapping, key) { if(mapping.website_id) { %>
                                    <option value="<%- mapping.code %>" <% if(mapping.code == storeMapping[locale.code]) { %>selected="selected"<% } %> ><%- mapping.name %></option>
                                <% } }); %>
                            </select>
                        </td>
                    </tr>    
                <% }); %>
            </tbody>

        </table>
    <% } else { %>
        <div class="AknGridContainer-noData">
            <div class="AknGridContainer-noDataImage"></div>
            <div class="AknGridContainer-noDataTitle">
                <%- _.__('Save credentials first !!') %>
            </div>    
        </div>        
    <% } %>
</div>
